<%-include("shared/header.ejs")  %> 
<%-include("shared/navbar.ejs")  %> 

<div class="main-content">
    <%-include("shared/head.ejs")  %> 
    <div class="container mt-5 d-flex justify-content-between">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="text-bolder text-danger">Error: </h1>
                <h3 class="text-secondary"><%=error%></h3>
            </div>
        </div>
    </div>
    
</div>

<%-include("shared/footer.ejs")  %> 